{% extends 'base.html' %}
{% load static %}
{% block content %}
    <br><h1>Profiles</h1><br>
    <div class="col-md-12" style="display: grid; grid-template-columns: repeat(2, 1fr);">
        {% if profiles %}
            {% for profile in profiles %}
                <div class="card mb-3" style="max-width: 540px; display: flex; align-items: center; justify-content: space-around;">
                    <div class="row g-0">
                        <div class="col-md-4" style="display: grid; place-items: center;">
                            {% if profile.profile_image %}
                                <img src="{{ profile.profile_image.url }}" width="125" height="125" class="image-fluid rounded-circle" alt="{{ profile.user.username }}"/>
                            {% else %}
                                <img src="{% static 'images/generic-user-icon-12.jpg' %}" width="125" height="125" class="image-fluid rounded-circle" alt="{{ profile.user.username }}">
                            {% endif %}
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">{{ profile.user.username }} <br></h5>
                                <a href="{% url 'profile' profile.user.id %}"><p class="card-text">@{{ profile.user.username|lower }}</p></a>
                                <p class="card-text"><small class="text-muted">Last Updated: {{ profile.date_modified }}</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}
